* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: lightgrey;
    padding: 10px;
}

footer {
    font-weight: bold;
    padding: 10px;
}